<div ng-controller='view2Controller'>

<!-- 	<div class='error-message' ng-if="message">
		<h1 class='middle'>{{ message }}</h1>
		<img class='error-cat' src="./images/dancing_cat.gif">
		<h2 class='middle'><a href="/">home</a></h2>
	</div> -->

	<div class="packery js-packery" data-packery-options='{ "columnWidth": 25% }'>
		<div class='img-item'>
			<img src="http://media0.giphy.com/media/1EzbweBp6XRv2/200w.gif">
		</div>
		<div class='img-item'>
			<img src="http://media3.giphy.com/media/pYK2AuGaJnePm/200w.gif">
		</div>
		<div class='img-item'>
			<img  src="http://media0.giphy.com/media/e5s9AhceLnmfe/200w.gif">
		</div>
		<div class='img-item'>
			<img src="http://media1.giphy.com/media/vctPkvEb98wNO/200w.gif">
		</div>
		<div class='img-item'>
			<img  src="http://media1.giphy.com/media/hkC9qHkrrfdqE/200w.gif">
		</div>
		<div class='img-item'>
			<img  src="http://media3.giphy.com/media/NFo6yazDq7q9y/200w.gif">
		</div>
		<div class='img-item'>
			<img src="http://media0.giphy.com/media/ZFlW5pAMdPjJm/200w.gif">
		</div>
		<div class='img-item'>
			<img src="http://media4.giphy.com/media/4PgaTslLWFw7m/200w.gif">
		</div>
		<div class='img-item'>
			<img  src="http://media1.giphy.com/media/crJdvW1VXflug/200w.gif">
		</div>
		<div class='img-item'>
			<img  src="http://media4.giphy.com/media/ctXeD2i0KmGru/200w.gif">
		</div>



		
		

	
		

	
<!-- 
			<img  src="http://media0.giphy.com/media/m6aIggqT7oB4A/200w.gif">
			<img src="http://media1.giphy.com/media/crJdvW1VXflug/200w.gif">
			<img src="http://media0.giphy.com/media/Pij3hAnY2TNn2/200w.gif">
			<img src="http://media4.giphy.com/media/4PgaTslLWFw7m/200w.gif">
			<img src="http://media4.giphy.com/media/ctXeD2i0KmGru/200w.gif"> -->




<!-- 		<div class="masonry-brick left-brick">
			<img ng-src="{{ bricks[1] }}">
			<img ng-src="{{ bricks[5] }}">
			<img ng-src="{{ bricks[9] }}">
			<img ng-src="{{ bricks[13] }}">	 -->

<!-- 		</div>
		<div class="masonry-brick left-center-brick">
			<img ng-src="{{ bricks[4] }}">
			<img ng-src="{{ bricks[8] }}">
			<img ng-src="{{ bricks[12] }}">
			<img ng-src="{{ bricks[0] }}"> -->



<!-- 		</div>
		<div class="masonry-brick right-center-brick">
			<img ng-src="{{ bricks[2] }}">
			<img ng-src="{{ bricks[6] }}">
			<img ng-src="{{ bricks[10] }}">
			<img ng-src="{{ bricks[14] }}">		 -->	

<!-- 		</div> -->
<!-- 		<div class="masonry-brick right-brick">
			<img ng-src="{{ bricks[3] }}">
			<img ng-src="{{ bricks[7] }}">
			<img ng-src="{{ bricks[11] }}">
			<img ng-src="{{ bricks[15] }}"> -->

		<!-- </div> -->
	</div>

	<div class='back-container'>
		<a href="/">back</a>
	</div>

	<div class='gif-container'>
		<a href="http://www.giphy.com"><img class='giphy-logo' src="./images/poweredBy_light.png"></a>
	</div>
</div>
