<html>
<head>
	<title>gifG - The customizable gif gallery generator.</title>
    <meta name="description" content="Gif search engine and customizable gif gallery generator. Users can add, remove, and move around gifs to create their own animated gallery. Uses packery and jQuery UI for custom experience. Created by Paul Chang. www.pchang.co">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61785444-1', 'auto');
  ga('send', 'pageview');
</script>

<link rel="stylesheet" type="text/css" href="/./stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/./stylesheets/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/./stylesheets/gallery.css">
<link rel="stylesheet" media="screen and (max-width:550px)" href="/./stylesheets/gallery_2.css">
<link rel="stylesheet" media="screen and (min-width:551px) and (max-width:1000px)" href="/./stylesheets/gallery_3.css">
<link rel="stylesheet" media="screen and (min-width:1001px)" href="/./stylesheets/gallery_4.css">

<script src="../javascript/jquery-2.1.3.min.js"></script>
<script src="../javascript/jquery-ui.min.js"></script>
<script src="../javascript/bootstrap.min.js"></script>
<script src="../javascript/packery_pkgd.js"></script>
<script src="../javascript/imagesloaded.pkgd.js"></script>
<script src="../javascript/gallery.js"></script>

<body>
  <% if (typeof gif !== 'undefined' && gif.length > 0) { %>

	<div id='info'>
		<button type='button' data-toggle='modal' data-target="#myModal" class='info-btn'><img src="../images/glyphicons-196-circle-info.png" alt="info button"></button>
	</div>
  <div class='absolute-center'>
     <h2 class='waiting' style='opacity: 1'></h2>
     <img class='waiting_img' src="../images/waiting_img.gif" alt="waiting image">
  </div>
  <% } %>

  <div id='back-link'>
    <button><a href="/">back</a></button>
  </div>

  <div id="add-waiting">
    <h5></h5>
  </div>
	<% if (typeof gif !== 'undefined' && gif.length > 0) { %>
	<form id='add-form' action='/add' method='post'>
		<input id="search" type='text' name='search' placeholder='add gifs!' />
	</form>
	<div id="container">	
		<% for (var i=0;i<gif.length; i++) { %>
	<img class='img-item hidden' data="<%= gif[i].id %>" src="<%= gif[i].images.fixed_width.url %>">
	   <% } %>
	</div>
	<% } else if (typeof gif !== 'undefined' && gif.length == 0) { %>
	<div class='no-gifs'>
		<h2 class='middle'>sorry. no gifs found. try again!</h2>
		<img class='error-cat' src="../images/dancing_cat.gif" alt="error cat">
		<h2 class='middle'><a href="/">home</a><h2>
	</div>
	<% } %>

<!-- info modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">gifG - options</h4>
      </div>
      <div class="modal-body">
      	<ul class='options-list'>
      		<li> single click/tap - remove gif</li>
      		<li> double click (desktop only) - copy gif</li>
      		<li> click and drag (desktop only) - rearrange gallery</li>
      		<li> toggle background color. Click this -> <button class='btn-lightbulb'><img src="../images/glyphicons-65-lightbulb.png" alt="light bulb"></button>
      		<li> hide/unhide search bar. Click this -> <button type="button" class="btn-xs btn-primary hide-btn">search</button></li>
      		<li>send gallery to friend. Click this -> <button type="button" class="btn-xs btn-primary btn-send" data-dismiss="modal" data-target="#sendModal" data-toggle='modal'>send to friend</button></li>
      	</ul>
      	<p>refreshing the page takes you back to search.</p>
      </div>
      <div class="modal-footer">
      	<a href="https://twitter.com/p__chang"><img class='twitter' src="../images/twitter_logo_blue.png" alt="twitter logo"></a>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Link Modal -->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">send the following link to your friends!</h4>
      </div>
      <div class="modal-body">
      	<div id='gif-link'>
<!--           <h3><a href="">gif Gallery!</a></h3> -->
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class='gif-container'>
	<a href="http://www.giphy.com"><img class='giphy-logo' src="../images/poweredBy_light.png" alt="giphy logo"></a>
</div>
</body>
</html>